torch

pyyaml
pydantic
tyro
deprecated

datasets
tokenizers
transformers==4.47
accelerate==1.1.1
trl==0.13
peft
wandb
flash-attn; platform_system == "Linux"

# Open-R1
latex2sympy2_extended
math-verify

deepspeed==0.15.4; platform_system == "Linux"
vllm==0.7.1; platform_system == "Linux"